@using TonyBlogs.DTO.UserFunction
@{
    UserFunctionMenuItemDTO currentMenuItem = MenuContext.CurrentMenu ?? new UserFunctionMenuItemDTO();
    long currentFuncID = currentMenuItem.ID;
    long currentFuncParentID = currentMenuItem.ParentID;
}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            @foreach (var menu in UserContext.CurrentUser.UserMenuList)
            {
                if (menu.ChildList.Count == 0)
                {
                    <li class="start @(menu.ID == currentFuncID ? "active" : "")">
                        <a href="@MenuContext.GenerateUrlPath(menu.AreaName, menu.ControllerName, menu.ActionName)">
                            <i class="@menu.Icon"></i>
                            <span class="title">@menu.FucTitle</span>
                        </a>
                    </li>
                }
                else
                {
                    bool isCurrentParent = menu.ID == currentFuncParentID; 
                    
                    <li class="start @(isCurrentParent ? "active open" : "")">
                        <a href="javascript:;">
                            <i class="icon-home"></i>
                            <span class="title">@menu.FucTitle</span>
                            @if (isCurrentParent)
                            {
                                <span class="selected"></span>
                            }
                            <span class="@(isCurrentParent ? "arrow open" : "")"></span>
                        </a>
                        <ul class="sub-menu">
                            @foreach (var childMenu in menu.ChildList)
                            {
                                <li class="@(childMenu.ID == currentFuncID ? "active" : "")">
                                    <a href="@MenuContext.GenerateUrlPath(childMenu.AreaName, childMenu.ControllerName, childMenu.ActionName)">
                                        <i class="@childMenu.Icon"></i>
                                        @childMenu.FucTitle
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                }

            }
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
